{% extends "base.html" %}

{% block content %}
  <h1 class="mb-4 text-center">Lista de Ocorrências</h1>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Título</th>
          <th>Autor</th>
          <th>Data</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for ocorrencia in lista_ocorrencia %}
          <tr>
            <td>{{ ocorrencia.titulo }}</td>
            <td>{{ ocorrencia.autor }}</td>
            <td>{{ ocorrencia.data }}</td>
            <td>
              <a href="{% url 'detalhes_ocorrencia' ocorrencia.id %}" class="btn btn-info btn-sm">Ver</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="4">Nenhuma ocorrência encontrada.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="text-center">
    <a href="{% url 'cria_ocorrencia' %}" class="btn btn-primary">Criar Nova Ocorrência</a>
  </div>
{% endblock %}
